{% extends 'series/with-menu.html' %}

{% block main %}
    <div class="alert alert-warning" role="alert">
        <span>Do you really want to update all shows and episodes? Updates are run on a daily basis and they take some time.</span>
        <form action="." method="post">
            {% csrf_token %}
            <div class="btn-group" role="group">
                <input type="submit" class="btn btn-default" value="Yes" name="confirm"/>
                <input type="submit" class="btn btn-default" value="No" name="cancel"/>
            </div>
        </form>
    </div>
{% endblock %}
