{% extends 'series/with-menu.html' %}

{% block main %}

<form id="formulario" action="{% url 'edit' selectedId %}" method="post">
    {% csrf_token %}
    <thead>
        <h1 class="page-header">Preferencias</h1>
    </thead>
    <table>
        <tr>
            <td>
                <span>Límite velocidad de subida (kB/s): </span>
            </td>
            <td>
                <input type="number" name="limiteSubida" id="limiteSubida" min="0" max="2048" step="1" value="{{limiteSubida}}">
            </td>
        </tr>
        <tr>
            <td>
                <span>Límite velocidad de descarga (kB/s): </span>
            </td>
            <td>
                <input type="number" name="limiteDescarga" id="limiteDescarga" min="0" max="2048" step="1" value="{{limiteDescarga}}">
            </td>
        </tr>
        <tr>
            <td>
                <span>Duración del análisis (h): </span>
            </td>
            <td>
                <input type="number" name="Horas" id="tiempoAnalisis" min="0" max="24" step="1" value="{{tiempoAnalisis}}">
            </td>
        </tr>
        <tr>
            <td>
                <span>Número de torrents en paralelo: </span>
            </td>
            <td>
                <input type="number" name="Torrents" id="numTorrents" min="0" max="10" step="1" value="{{numTorrents}}">
            </td>
        </tr>
        <tr><td><input type="submit" value=" Guardar " name="butAceptarPreferencias"/></td></tr>
    </table>
 </form>

{% endblock %}
