{% extends 'series/with-menu.html' %}

{% block main %}
  <h1 class="page-header">{{ show }} - {{ episode }}</h1>

  <h2 class="page-header">Resultados generales</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>País</th>
          <th>Número de peers</th>
        </tr>
      </thead>
      <tbody>
        {% for country, downloads in cnt_downloads %}
          <tr>
            <td>{{ country }}</td>
            <td>{{ downloads }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
