{% extends 'series/with-menu.html' %}

{% block main %}
  <h1 class="page-header">{{ show }} - {{ episode }}</h1>

  <h2 class="page-header">Resultados por país</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>País</th>
          <th>Número de peers</th>
        </tr>
      </thead>
      <tbody>
        {% for key,value in cnt_downloads.items %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
