{% extends 'series/with-menu.html' %}

{% block sidebar %}
  {% if series_list %}
	<ul class="nav nav-sidebar">
		<li><a><b>Series</a></b></li>
		{% for series_list in series_list %}
			<li><a href="/series/1">{{ series_list.nombre }}</a></li>
		{% endfor %}
	</ul>
  {% else %}
    <ul class="nav nav-sidebar">
		<li><a><b>Series</a></b></li>
		<li><a href="/series/1">The walking dead</a></li>
		<li><a href="/series/1">Como conocí a vuestra madre</a></li>
		<li><a href="/series/1">Breaking bad</a></li>
	</ul>
  {% endif %}
{% endblock %}

{% block main %}
  <h1 class="page-header">Resultados por país</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>País</th>
          <th>Número de peers</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Estados Unidos</td>
          <td>530</td>
        </tr>
        <tr>
          <td>España </td>
          <td>726</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
