{% extends 'series/index-auth.html' %}

{% block messages %}
    {% if success %}
        <div class="alert alert-success" role="alert">
            <span><b>Success! </b>{{ success }}</span>
        </div>
    {% endif %}
    {% if warning %}
        <div class="alert alert-warning" role="alert">
            <span><b>Warning! </b>{{ warning }}</span>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <span><b>Error! </b>{{ error }}</span>
        </div>
    {% endif %}
{% endblock %}
