{% extends 'series/with-menu.html' %}

{% block main %}
  <h1 class="page-header">Control panel</h1>

  {% block messages %}{% endblock %}

  {% if series %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
  		{% for serie in series %}
  			<tr>
  				<td>{{ serie.id }}</td>
  				<td>{{ serie.nombre }}</td>
  				<td>{{ serie.estado }}</td>
  				<td>
  				<div class="btn-group btn-group-sm" role="group">
  				  <a class="btn btn-default" href="{% url 'serie' serie.id  %}">
  					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  				  </a>
  				  <a class="btn btn-default" href="/series/{{ serie.id }}/edit/">
  					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  				  </a>
  				  <a class="btn btn-default" href="{% url 'eliminar' serie.id %}">
  					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  				  </a>
  				</div>
  			  </td>
  			 </tr>
  			{% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
  	Your show list is empty. Start by adding some show.
  {% endif %}
{% endblock %}
