{% extends 'series/with-menu.html' %}

{% block sidebar %}
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Añadir serie<span class="sr-only">(current)</span></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">The Walking Dead</a></li>
    <li><a href="">The Simpsons</a></li>
    <li><a href="">Breaking Bad</a></li>
  </ul>
{% endblock %}


{% block main %}

  <h1 class="page-header">Añadir serie</h1>

  <div class="col-lg-6">
  		<div class="input-group">
		<form action="{% url 'nueva' %}" method="post">
		{% csrf_token %}
		<input type="submit" value=" GO " />
		<input type="text" class="form-control" placeholder="Search for..." name="myS">
	</div>
  </div>
  <div style="clear:both;"></div>
  <h2 class="sub-header">Resultados</h2>
  <div class="table-responsive">
  	<table class="table table-striped">
        	<thead>
                	<tr>
		  	<li> ID: {{ ID }}	
			<li> Nombre de la serie: {{ nombre }}
			<li> Idioma: {{ idioma }}
			<li> Descripcion: {{ descripcion }}
                	</tr>
              	</thead>
       	</table>
  </div>
	
{% endblock %}
