{% extends 'series/with-menu.html' %}

{% block sidebar %}
  {% if series_list %}
	<ul class="nav nav-sidebar">
		<li><a><b>Series</a></b></li>
		{% for series_list in series_list %}
			<li><a href="/series/1">{{ series_list.nombre }}</a></li>
		{% endfor %}
	</ul>
  {% else %}
    <ul class="nav nav-sidebar">
		<li><a><b>Series</a></b></li>
		<li><a href="/series/1">The walking dead</a></li>
		<li><a href="/series/1">Como conocí a vuestra madre</a></li>
		<li><a href="/series/1">Breaking bad</a></li>
	</ul>
  {% endif %}
{% endblock %}

{% block main %}

  <h1 class="page-header">Añadir serie</h1>

  <div class="col-lg-6">
  		<div class="input-group">
		<form action="{% url 'nueva' %}" method="post">
		{% csrf_token %}
		<input type="text" class="form-control" placeholder="Search for..." name="myS"> <br><br>
		<input type="submit" value=" GO " name="butGo"/> <br>
	</div>
  </div>
  <div style="clear:both;"></div>

  <h2 class="sub-header">Resultados</h2>
  <div class="table-responsive">
  	<table class="table table-striped">
												
	<ul>
	{% for data in data %}
		{% for data in data %}
			{% if forloop.counter == 1 %} <li> <b>ID:</b>{{ data.text }}</li> {% endif %}
			{% if forloop.counter == 2 %} <li> <b>Idioma:</b> {{ data.text }} </li> {% endif %}
			{% if forloop.counter == 3 %} <li> <b>Nombre:</b> {{ data.text }} </li> {% endif %}
			{% if forloop.counter == 4 %} <li> <b>Imagen:</b> {{ data.text }} </li> {% endif %}
			{% if forloop.counter == 5 %} <li> <b>Descripcion</b> {{ data.text }} </li> {% endif %} 
		{% endfor %}
		{% for data in data %}
			{% if forloop.counter == 1 %} 
				<br>
				{#	<input type="submit" value=" Añadir " name="add" <a href="{% url index %}"></a>	#} 
				<a href="{% url 'addSerie' data.text %}">Añadir</a>
				<br><br><br><br>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>

    </table>
  </div>
	
{% endblock %}
