{% extends 'series/with-menu.html' %}

{% block sidebar %}
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Añadir serie<span class="sr-only">(current)</span></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">The Walking Dead</a></li>
    <li><a href="">The Simpsons</a></li>
    <li><a href="">Breaking Bad</a></li>
  </ul>
{% endblock %}

{% block main %}

  <h1 class="page-header">Añadir serie</h1>

  <div class="col-lg-6">
  		<div class="input-group">
		<form action="{% url 'nueva' %}" method="post">
		{% csrf_token %}
		<input type="text" class="form-control" placeholder="Search for..." name="myS"> <br><br>
		<input type="submit" value=" GO " name="butGo"/> <br>
	</div>
  </div>
  <div style="clear:both;"></div>

  <h2 class="sub-header">Resultados</h2>
  <div class="table-responsive">
  	<table class="table table-striped">
        	<thead>
            <tr> 
												
			<ul>
			{% for data in data %}
				{% for data in data %}
					<li>{{data.text}}</li>
				{% endfor %}
				<br>
				<input type="submit" value=" Añadir " name="add"/>
				<br><br><br><br>
			{% endfor %}
			</ul>
			
		  	<li> {% if ID %}<li id="l1"><b> ID: </b>{{ ID }}</li> {% endif %}
			<li> {% if nombre %}<b> Nombre de la serie: </b>{{ nombre }}{% endif %}
			<li> {% if idioma %}<b> Idioma: </b>{{ idioma }}{% endif %}
			<li> {% if descripcion %}<b> Descripcion: </b>{{ descripcion }}<br><br>{% endif %}
			<li> {% if ID %}<input type="submit" value=" Añadir " name="add"/> <br>{% endif %}
		    </tr>
            </thead>
       	</table>
  </div>
	
{% endblock %}
