{% extends 'series/with-menu.html' %}

{% block sidebar %}
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Serie añadida<span class="sr-only">(current)</span></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">The Walking Dead</a></li>
    <li><a href="">The Simpsons</a></li>
    <li><a href="">Breaking Bad</a></li>
  </ul>
{% endblock %}

{% block main %}

  <h1 class="page-header">Serie añadida</h1>

  La serie {{ ID }} ha sido añadida correctamente

{% endblock %}
