{% extends 'series/with-menu.html' %}

{% block main %}
    {% if show %}
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="https://thetvdb.com/banners/{{ show.imagen }}" class="img-responsive center-block">
                    </div>
                    <div class="panel-body">
                        <span>{{ show.descripcion }}</span>
                    </div>
                    <table class="table">
                        <tr>
                          <td><b>Género</b></td>
                          <td>{{ show.genero }}</td>
                        </tr>
                        <tr>
                          <td><b>Fecha de emisión</b></td>
                          <td>{{ show.fechaEmision }}</td>
                        </tr>
                        <tr>
                          <td><b>Estado</b></td>
                          <td>{{ show.estado }}</td>
                        </tr>
                        <tr>
                          <td><b>Enlace a TheTVDB</b></td>
                          <td><a href="https://thetvdb.com/index.php?tab=series&id={{ show.theTvdbID }}">Enlace</a></td>
                        </tr>
                        <tr><td></td></tr>
                    </table>
                    {% if seasons %}
                        <table class="table">
                        {% for season, episodes in seasons.items %}
                            <thead>
                                <tr>
                                    <th>Temporada {{ season }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for episode in episodes %}
                                    <tr>
                                        <td><b>{{ episode.titulo }}</b></td>
                                        <td>
                                            {% if episode.estado == 1 %}
                                                <span class="glyphicon glyphicon-transfer" aria-hidden="true"> Análisis en curso</span>
                                            {% elif episode.estado == 2 %}
                                                <a href="{% url 'estadisticas' show.id episode.temporada episode.numero %}"><span class="glyphicon glyphicon-stats" aria-hidden="true"> Ver estadísticas</span></a>
                                            {% else %}
                                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> No hay datos disponibles</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr><td></td></tr>
                            </tbody>
                        {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">Serie no encontrada</div>
    {% endif %}
{% endblock %}
