{% extends 'series/with-menu.html' %}

{% block main %}
    {% if show %}
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="{{ show.imagen }}" class="img-responsive center-block">
                    </div>
                    <div class="panel-body">
                        <span>{{ show.descripcion }}</span>
                    </div>
                    <table class="table">
                        <tr>
                          <td><b>Género</b></td>
                          <td>{{ show.genero }}</td>
                        </tr>
                        <tr>
                          <td><b>Fecha de emisión</b></td>
                          <td>{{ show.fechaEmision }}</td>
                        </tr>
                        <tr>
                          <td><b>Estado</b></td>
                          <td>{{ show.estado }}</td>
                        </tr>
                        <tr>
                          <td><b>Enlace a TheTVDB</b></td>
                          <td><a href="https://thetvdb.com/index.php?tab=series&id={{ show.theTvdbID }}">Enlace</a></td>
                        </tr>
                        <tr>
							{% if episode.estado != 1 %}
								{% if user.is_superuser %}
									<td><b>Actualizar serie</b></td>
									<td>
										<form id="formulario" action="{% url 'serie' show.id %}" method="post">
											{% csrf_token %}
											<input type="submit" value=" Actualizar " name="butActualizar"/>
										</form>
									</td>
								{% endif %}
							{% endif %}
                        </tr>
                        <tr><td></td></tr>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        {% if episodes %}
                                            Temporada {{ episodes.0.temporada }}
                                        {% else %}
                                            Selecciona temporada
                                        {% endif %}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for s in seasons %}
                                            <li><a href="{% url 'serie' show.id s %}">Temporada {{ s }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <th></th>
                            </tr>
                        </thead>
                        {% if episodes %}
                        <tbody>
                            {% for episode in episodes %}
                                <tr>
                                    <td><b>{{ episode.titulo }}</b></td>
                                    <td>
                                        {% if episode.estado == 1 %}
                                            <span class="glyphicon glyphicon-transfer" aria-hidden="true"> Análisis en curso</span>
                                        {% elif episode.estado == 2 %}
                                            <a href="{% url 'estadisticas' show.id episode.temporada episode.numero %}"><span class="glyphicon glyphicon-stats" aria-hidden="true"> Ver estadísticas</span></a>
                                        {% else %}
                                            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"> No hay datos disponibles </span>

                                        {% endif %}
                                    </td>

                                    {% if episode.estado != 1 %}
										{% if user.is_superuser %}
										<td>
											<form id="formulario" action="{% url 'serie' show.id %}" method="post">
												 {% csrf_token %}
												<input type="hidden" value=" {{episode.temporada}}" name="episodeSea"/>
												<input type="hidden" value=" {{episode.numero}}" name="episodeNum"/>
												<input type="submit" value=" Analizar " name="butAnalizar"/>
											</form>
										</td>
										{% endif %}
									{% endif %}

                                </tr>
                            {% endfor %}
                            <tr><td></td></tr>
                        </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">Serie no encontrada</div>
    {% endif %}
{% endblock %}
