{% extends 'series/with-menu.html' %}

{% block sidebar %}
  {% if series_list %}
	<ul class="nav nav-sidebar">
		<li><a><b>Series</a></b></li>
		{% for series_list in series_list %}
			<li><a href="/series/1">{{ series_list.nombre }}</a></li>
		{% endfor %}
	</ul>
  {% else %}
    <ul class="nav nav-sidebar">
		<li><a><b>Series</a></b></li>
		<li><a href="/series/1">The walking dead</a></li>
		<li><a href="/series/1">Como conocí a vuestra madre</a></li>
		<li><a href="/series/1">Breaking bad</a></li>
	</ul>
  {% endif %}
{% endblock %}

{% block main %}

  {% if existe %}
	    <h1 class="page-header">Error</h1>
		La serie {{ nombre }} ya existe en la base de datos
  {% else %}
		<h1 class="page-header">Serie añadida</h1>
		La serie {{ nombre }} ha sido añadida correctamente
  {% endif %}

{% endblock %}
